/* Buttons */
.btn {
    display: inline-block;
    background: $light-color;
    color: $dark-color;
    padding: 0.7rem 1.6rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: all 0.15s ease-in;
    outline: none;

    &:hover {
        color: $secondary-color;
    }

    &-link {
        background: none;
        padding: 0;
        margin: 0;
    }

    &-block {
        display: block;
        width: 100%;
    }

    &-sm {
        padding: 0.3rem 1rem;
        margin-right: 0.2rem;
    }
}

.badge {
    display: inline-block;
    padding: 0.2rem 0.7rem;
    text-align: center;
    margin: 0.3rem;
    background: $light-color;
    color: #333;
    border-radius: 5px;
}

.alert {
    padding: 0.7rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: $light-color;
    color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
    background: $primary-color;
    color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
    background: $light-color;
    color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
    background: $dark-color;
    color: #fff;
}

.btn-error,
.bg-error,
.badge-error,
.alert-error {
    background: $error-color;
    color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
    background: $success-color;
    color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
}

.bg-light, .badge-light {
    border: #ccc solid 1px;
}

.round {
    border-radius: 50%;
}
