.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem 0.7rem;
    z-index: 1;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 1rem;

    ul {
        display: flex;
    }

    a {
        color: #fff;
        font-weight: 400;
        padding: 0.5rem;
        margin: 0 1rem;
        transition: all 0.15s ease-in;
        &:hover {
            color: $secondary-color
        }
    }
    h1 a {font-weight: 700;}
    h1 i {margin-right: 0.5rem;}

    &.welcome span {
        margin-right: 0.6rem;
    }
}