.about {
    padding: 1rem 2rem;
}

.header {
    margin: 1rem 0 0.5rem;
}
.howTo {
    display: flex;
    flex-direction: column;
}

.step {
    margin: 1rem 1.5rem;
}

.link {
    color: #f7f7f7;
    font-weight: 700;
}

.version {
    font-size: 1.2rem;
}